# Initial states for frontend tools toggles (applied during build)
# Set to 'true', 'yes', '1', 'on' to enable, or 'false', 'no', '0', 'off' to disable.

# Enable/Disable Url Context by default
VITE_DEFAULT_TOOL_URL_CONTEXT=true

# Enable/Disable Google Search Grounding by default
VITE_DEFAULT_TOOL_SEARCH=false

# Enable/Disable Code Execution by default
VITE_DEFAULT_TOOL_CODE_EXECUTION=false
